[submodule "howdy-beta-git"]
	path = howdy-beta-git
	url = https://aur.archlinux.org/howdy-beta-git.git
[submodule "kwin-effect-rounded-corners-git"]
	path = kwin-effect-rounded-corners-git
	url = https://aur.archlinux.org/kwin-effect-rounded-corners-git.git
[submodule "cinny-desktop-bin"]
	path = cinny-desktop-bin
	url = https://aur.archlinux.org/cinny-desktop-bin.git
