[Desktop Entry]
Name=阿里云盘(odomu版)
Exec="/opt/alixby/alixby" %U
Terminal=false
Type=Application
Icon=/opt/alixby/resources/images/icon_256x256.png
StartupWMClass=alixby
Comment=阿里云盘(odomu版)
Categories=Network;
