[Unit]
Description=openlist service
Documentation=https://doc.oplist.org.cn
After=network.target nss-lookup.target network-online.target

[Service]
User=openlist
StateDirectory=openlist
ExecStart=/usr/bin/openlist server
Restart=on-failure

[Install]
WantedBy=multi-user.target
